

.button:hover{
	-fx-background-color : #00c853;
	-fx-text-fill : #ffffff;
	-fx-text-alignment : center;
}

button {
	-fx-background-color: #ffffff;
}

.button:focused{
	-fx-text-fill:#ffffff;
	-fx-background-color: #008080;
}
.button:last-visited{
	-fx-text-fill : #ffffff;
}


.musicbutton{
	-fx-background-color:#109EA3;
	-fx-text-fill:#ffffff;
}

.processbutton{
	-fx-background-color:#1F618D;
	-fx-text-fill:#ffffff;
}

.drawerbutton{
	-fx-text-fill:#ffffff;
}

	
